{% extends 'base.html' %}

{% block title %}
    about
{% endblock title %}
    

{% block content %}
    
    <div class="about">
        <p>
            Bad parking in market places and towns is a common issue that can cause significant disruptions.
            here are some of the problems that smartpark pro is trying to solve.
            <ol>
                <li> <strong>Traffic congeston:</strong>Poorly parked vehicles can obstruct the 
                the flow of traffic leading to congestion and delays</li>
                <li> <strong>Safety hazards:</strong>Vehicles parked badly can block slightlines for both drivers 
                and pedestrins, increasing the risk of accidents. In crowded areas, this can be particularly dangerous</li>
                <li><strong>Access issues:</strong>Bad parking can block entrances and exits, making it difficult for emergency vehicles
                ,delivery trucks and other essential services to reach their desinations.</li>
                <li><strong>pedestrins Inconvenience:</strong>When vehicles are parked on sidewalks or in pedestrians zones, it forces people to 
                walk on the road, which is unsafe and inconvenient</li>
                <li><strong>Envrionmental Impact:</strong>Idling vehicles stuck in traffic due to parking contribute to air polllution. the more time
                cars spend in traffic, the higher the emissions,contributing to Envrionmental degradation</li>
                <li><strong>Legal Consequences:</strong>In many towns, bad parking can lead to fines or the towing of vehicles.
                Repeat offenders might face stricter penalties, affecting their finances and convenience</li>
                <li><strong>Public Frustration:</strong>Bad parking often leads to Frustration among residents and visitors, creating a negative atmosphere in 
                the community.This can result in dispute or even damage to vehicles.</li>
                <li><strong>Economic Impact:</strong>In market places, improper parking can deter customers, as they may find it challenging to navigate or find parking spaces. This can hurt local
                businesses</li>
            </ol>
        </p>

    </div>
    <hr>
    
{% endblock content %}
