{% extends 'base.html' %}


{% block title %}Booking{% endblock title %}


{% block content %}
<div class="bookingpage">
<div class='table'>
    <h1>Parking slot status</h1>
    <table border='5'>
        <thead>
            <tr>
                <th>Slot Number</th>
                <th>Vihecle type</th>
                {% comment %} <th>Hours parked</th> {% endcomment %}
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for slot in parking_slots %}
                <tr>
                    <td>{{slot.slot_number}}</td>
                    <td>{{slot.vehicle_type}}</td>
                    {% comment %} <td>{{slot.hours_parked}}</td> {% endcomment %}
                    <td>
                        
                        {% if slot.vehicle_type %}
                            Occupied
                        {% else %}
                            Available
                        {% endif %}
                            
                    </td>
                </tr>
            {% empty %}
            <tr>
                <td colspan="4">No slots found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <form action="" method="POST" class="bookingform">
        <h2> Book a parking slot</h2>
        {% csrf_token %}
        {% for field in form %}
        <div>
            <label for="field.id_label">{{ field.label}}</label>
            {{field}}
            
            {% if field.errors %}
            <div>
                <p>{{field.errors}}</p>
            </div>
                
            {% endif %}
                
        </div><br>
        {% endfor %}
        <input type="submit" value="Book">
    </form>
</div>
<hr>
{% endblock content %}
    
    