body{
    background-color: bisque;
}
/*login page and register css*/
.auth-form{
    width: 420px;
    background: purple;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    box-shadow: 4px;
}
/* welcome page css */
.park{
    text-align: justify;
    padding: 100px;
    border: 3px solid;
    width: 750px;
    height: 900px;
    display: block;
    font-size: 20px;
    position: relative;
    left: 200px;
  }
  /* image css */
  img{
    float: left;
  }
  .ip2{
    float: right;
    padding: 4px;
  }
  /* navigation bar css */
nav{
    background-color: black;
    border: 4px solid;
    border-radius: 20px;
    width: 850px;
    position: relative;
    left: 200px;
    height: 50px;
    padding: 3px;
    
}
a{
    margin-right: 115px;
}
/* about css */
.about{
  position: relative;
  left: 230px;
  font-size: 20px;
  width: 700px;
  height: 700px;
}

/*footer css*/
.moreinfo{
  justify-content: center;
  background-color: black;
  font-style: normal;
  color:white;
  display: flex;

}

/* booking page css */
.bookingpage{
  display: flex;
  margin: 20px;
  
}
/* table styles */
.table{
  border: solid 4px;
  border-radius: 4px;
  width: 500px;
  height: 400px;
  margin: 20px;
  display: grid;
  place-items: center;
  padding: 5px;

}
/* booking form css */
.bookingform{
  border: solid 4px;
  border-radius: 4px;
  width: 500px;
  height: 400px;
  margin: 20px;
  display: grid;
  place-items: center;

}